
PORT=5000
AUTH_EMAIL=ramkrishna@abc.edu
AUTH_NAME=ram krishna
AUTH_ROLL_NO=aa1bb
AUTH_ACCESS_CODE=xgAsNC
AUTH_CLIENT_ID=d9cbb699-6a27-44a5-8d59-8b1befa816da
AUTH_CLIENT_SECRET=tVJaaaRBSeXcRXeM
EVALUATION_BASE_URL=http://4.224.186.213/evaluation-service
PRIORITY_INBOX_SIZE=10


AUTH_API_URL=http://4.224.186.213/evaluation-service/auth
NOTIFICATIONS_API_URL=http://4.224.186.213/evaluation-service/notifications
PRIORITY_INBOX_SIZE=10
